[Unit]
Description=CSYE6225-webservice
After=syslog.target

[Service]
User=webapp
ExecStart=/usr/bin/java -jar /usr/local/bin/webapp-0.0.1-SNAPSHOT.jar --spring.config.location=file:///usr/local/etc/application.properties
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
SuccessExitStatus=143
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
